In [1]:
import pandas as pd
datos =pd.read_csv("Datos-Temperatura.csv")

In [2]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   celsis      7 non-null      int64
 1   fahrenheit  7 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 244.0 bytes

In [3]:
datos.head()

   celsis  fahrenheit
0     -40       -40.0
1     -10        14.0
2       0        32.0
3       8        46.4
4      15        59.0

In [ ]:
import seaborn as sb